@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// color variables
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

// font variables
$font-size: 1.25rem;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width:100%;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-size: $font-size;
  font-weight: 500;
  font-family: Inter, sans-serif, system-ui;
  background-color:$Off-white;
  color: $Dark-grayish-blue;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-around{
  display: flex;       
  justify-content: space-around; 
  align-items: flex-start; 
  height:100%;
}

main {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  gap:2.5rem;
  padding: 1rem;
}

.navbar {
  @include flex-center();

  &__container {
    @include flex-space-between();
    padding: 1rem;
    gap: 1rem;
    max-width: 1200px;
  }
  
  &__logo {
    width: 40px;
  }

  .menu-icon{
    font-size: 30px;
    color:$Very-dark-blue;
  }

  &__burger {
    display: block;
    cursor: pointer;
    width: fit-content;
    z-index: 2;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    width: 70%;
    height: 100%;
    padding-top: 15%;
    background: white;
    z-index: 0;
    transition: left 3s ease-in-out;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);

    &.open {
      left: 0;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__mobile-list {
    list-style: none;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__mobile-item {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $Soft-red;
      transition: color 0.3s ease-in-out;
    }
  }

  &__desktop-menu{
    @include flex-space-between();
    gap: 1rem;
    list-style: none;
    width: 40%;

  }
}


#grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
  margin:0 auto;
  gap:2.5rem;
}

#details-section{
  @include flex-left;
  flex-direction: column;
  gap:2rem;
  padding: 1rem;
  height: 100%;

  h1{
    font-size: 3rem;
    color: $Very-dark-blue;
  }

  &-desc{
    @include flex-space-around();
    flex-direction: column;
    gap: 1rem;

    p{
      font-size: 1.5rem;
    }
  
    #read-more-button{
      width: auto;
      padding: 1rem 1.25rem;
      font-size: 1.25rem;
      font-weight: 600;
      background-color: $Soft-red;
      color: $Very-dark-blue;
      border:none;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover{
        background-color: $Very-dark-blue;
        color: $Off-white;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

#new-section{
  @include flex-left;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  background-color: $Very-dark-blue;
  color: $Grayish-blue;

  h2{
    color: $Soft-orange;
    font-size: 2.5rem;
  }

  hr{border: 1px solid $Grayish-blue;}

  .new-item{
    @include flex-left;
    flex-direction: column;
    gap: 0.75rem;

    h3{
      color: $Off-white;
      font-weight: 700;
      font-size: 1.75rem;

      &:hover{
        color: $Soft-orange;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

#trending-section{
  @include flex-center;
  flex-direction: column;
  gap: 2rem;

  .trending-item{
    @include flex-center();
    gap: 1rem;

    img{
      height: auto;
      max-height: 200px;
    }

    .trending-item-details{
      @include flex-space-between();
      flex-direction: column;
      gap:1rem;

      .trending-item-number{
        color: $Soft-red;
        font-weight: 700;
        font-size: 2.5rem;
      }

      h4{
        font-size: 1.5rem;
        color: $Very-dark-blue;

        &:hover{
          color: $Soft-red;
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }

}

  @media screen and (min-width:768px){
  #grid-container {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }

  #desktop-image{
    display: block;
    grid-column: 1/span 2;
    grid-row: 1;
  }

  #details-section{
    @include flex-left;
    flex-direction: row;
    gap: 1rem;
    grid-column: 1/span 2;
    grid-row: 2;

    h1{ 
      font-size: 4.5rem;
      margin: auto 0;
    }
  }

  #new-section{
    grid-column: 3/span 1;
    grid-row: 1/span 2;
    height: 100%;
  }

  #trending-section{
    flex-direction: row;
    grid-column: 1/span 3;
  }
}